* {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 10px;
}

body {
	font-family: monospace;
	box-sizing: border-box;
	background-color: #2e3033;
}

.container {
	position: relative;
	height: 100vh;
}

.canvas {
	&__wrapper {
		background-color: white;
		width: 800px;
		height: 800px;
		position: absolute;
		top: (0.5 * 100vh);
		left: 50%;
		transform: translate(-50%, -50%);
	}

	&__element {
		height: 100%;
		width: 100%;
	}
}
