* {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 10px;
}

body {
	font-family: monospace;
	box-sizing: border-box;
	background-color: #2e3033;
}

.page-wrapper {
	display: flex;
}

.toolbar__spacer {
	z-index: 0;
	width: 240px;
	height: 100vh;
}

.toolbar {
	z-index: 10;
	position: fixed;
	background-color: #3d4143;
	width: 240px;
	height: 100%;
	padding: 20px;
	display: flex;
	justify-content: center;
}

.canvas {
	&__container {
		display: flex;
		flex-direction: row;
		width: 100vw;
		height: 100vh;
		justify-content: center;
		align-items: center;
	}

	&__wrapper {
		background-color: white;
		width: 800px;
		height: 800px;
	}

	&__element {
		height: 100%;
		width: 100%;
	}
}
